@using Oyunlar.Models
@model List<Degerlendirme>
@{
    ViewData["Title"] = "Degerlendirme";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Oyun İsmi</th>
        <th>Puan</th>
        <th>yorum</th>
        <th>Kullanici ID</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.degerlendirmeID</th>
            <th>@x.Oyun.oyunAdi</th>
            <th>@x.puan</th>
            <th>@x.yorum</th>
            <th>@x.kullaniciID</th>

            
        </tr>
    }


</table>
<a href="/AnaSayfa/YeniDegerlendirme" class=" btn btn-success">Yeni Degerlendirme</a>
